[run]
omit =
    */docs*
    */tests*
    */examples*
    */lib/python*
    */site-packages*
    */lib/python*
    */lib-python*
    */lib_pypy*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    def parse_args
