[run]
omit =
    */panoramisk/command.py
    */panoramisk/call_manager.py
include =
    */panoramisk/panoramisk/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    def parse_args
