graft examples
graft tools
graft docs
prune docs/_build
graft panoramisk
graft tests
graft tests_python3
include *.rst *.cfg *.ini .coveragerc LICENCE
global-exclude *.pyc
global-exclude __pycache__
global-exclude .installed.cfg
include *.py
include .coveragerc
include LICENSE
recursive-include examples *.py
recursive-include tests_python3 *.py
